[submodule "bot/helpers/orpheusdl"]
	path = bot/helpers/orpheusdl
	url = https://github.com/OrfiTeam/OrpheusDL
[submodule "bot/helpers/OrpheusDL"]
	path = bot/helpers/OrpheusDL
	url = https://github.com/utopian-society/OrpheusDL
